/* stylelint-disable */
 Base typography
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  font-family: 'Opensans';
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

html{
  background-color: $c--general-background;
}

button{
  outline: none;
}

#main-container {
  margin: 0 auto;
}

@media only screen and (min-width: 320px) {
  #main-container {
    max-width: 300px;
    padding: 10px 10px;
  }
  h1{
    font-size: 1.1rem;
  }
  h2{
    font-size: 1rem;
  }
}
@media only screen and (min-width: 360px) {
  #main-container {
    max-width: 340px;
    padding: 10px 15px;
  }
  h1{
    font-size: 1.3rem;
  }
  h2{
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 600px) {
  #main-container {
    max-width: 540px;
    padding: 25px 20px;
  }
  h1{
    font-size: 1.6rem;
  }
  h2{
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 960px) {
  #main-container {
     max-width: 930px;
     padding: 30px 20px;
 }
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1264px) {
  #main-container {
    max-width: 1100px;
    padding: 50px 40px;
 }
  h1{
    font-size: 2.2rem;
  }
  h2{
    font-size: 1.8rem;
  }
}


